*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   background: none;
   outline: none;
}

body, #root {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.hide { display: none !important; }
.flex, .flex-column { display: flex; }
.flex-column {
   flex-direction: column;
}
.grid { display: grid; }

button {
   background-color: gray;
}