:root {
   --search-bar-border-color: rgb(0, 206, 202);
   --search-bar-border-hover-color: rgb(0, 234, 255);
   --floating-button-size: 60px;
   --floating-button-spacing: 10px;
   --cards-box-width: 300px;
   --cards-box-height: 200px;
   --cards-width: 280px;
   --cards-height: 180px;
   --cards-title-font-size: 20px;
   --cards-description-font-size: 14px;
   --cards-highlight-color: rgba(31, 255, 83, 0.5);
   --cards-background-color: rgb(253, 189, 68);
   --cards-hover-background-color: rgb(200, 148, 51);
   --cards-checked-background-color: rgb(255, 228, 178);
   --cards-button-size: 35px;
   --cards-delete-button-color: transparent;
   /* --cards-delete-button-color: red; */
   --cards-delete-button-hover-color: rgb(255, 169, 169);
   /* --cards-delete-button-hover-color: rgb(170, 0, 0); */
   --cards-edit-button-color: transparent;
   /* --cards-edit-button-color: rgb(0, 205, 78); */
   --cards-edit-button-hover-color: rgb(205, 255, 191);
   /* --cards-edit-button-hover-color: rgb(11, 134, 0); */
}

/* background */
.background {
   position: absolute;
   width: 100%;
   height: 100%;
   animation: color-change 2s linear infinite;
   z-index: -1;
}
@keyframes color-change {
   0% {
      filter: hue-rotate(0deg);
   }
   100% {
      filter: hue-rotate(360deg);
   }
}

.background .polygon {
   display: block;
   position: absolute;
   transform: translate(-50%, -50%);
   background-color: rgb(43, 241, 255);
   clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
   animation: rotate 2s linear infinite;
}
@keyframes rotate {
   0% {
      width: 0;
      height: 0;
      opacity: .7;
      transform: rotate(0deg);
   }
   100% {
      width: 150px;
      height: 150px;
      opacity: 0;
      transform: rotate(210deg);
   }
}


/* floating button */
.floating-btn {
   position: absolute;
   cursor: pointer;
   width: var(--floating-button-size);
   height: var(--floating-button-size);
   left: 0;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   transition: .2s;
}
#delete-all-cards {
   bottom: calc(var(--floating-button-size) * 2 + var(--floating-button-spacing) * 3);
   background-color: rgb(247, 62, 62);
}
#delete-all-cards:hover {
   background-color: rgb(176, 43, 43);
}
#add-card {
   bottom: calc(var(--floating-button-size) + var(--floating-button-spacing) * 2);
   /* background-color: rgb(85, 210, 95); */
   background-color: rgb(46, 148, 243);
}
#add-card:hover {
   /* background-color: rgb(55, 158, 63); */
   background-color: rgb(43, 77, 188);
}
#start-quiz {
   bottom: var(--floating-button-spacing);
   background-color: rgb(204, 66, 242);
}
#start-quiz:hover {
   background-color: rgb(139, 46, 165);
}


/* container */
.container {
   position: relative;
   padding: 20px;
   width: 100vw;
   height: 100vh;
}

/* container search bar */
.container .search-bar {
   flex: 0 0 70px;
   justify-content: center;
   align-items: center;
}
.search-bar input {
   background-color: rgba(255, 255, 255, 0.7);
   font-size: 20px;
   height: 40px;
   width: 200px;
   text-align: center;
   border-top: 2px var(--search-bar-border-color) solid;
   border-left: 2px var(--search-bar-border-color) solid;
   border-bottom: 2px var(--search-bar-border-color) solid;
   border-bottom-left-radius: 25px;
   border-top-left-radius: 25px;
   transition: .3s;
}
.search-bar input:focus {
   width: 300px;
   border-width: 4px 0 4px 4px;
   border-color: var(--search-bar-border-hover-color);
}
.search-bar input:focus + button {
   border-width: 4px 4px 4px;
   border-color: var(--search-bar-border-hover-color);
}
.search-bar button {
   height: 40px;
   width: 70px;
   cursor: pointer;
   border-top: 2px var(--search-bar-border-color) solid;
   border-right: 2px var(--search-bar-border-color) solid;
   border-bottom: 2px var(--search-bar-border-color) solid;
   position: relative;
   background-color: white;
   border-bottom-right-radius: 25px;
   border-top-right-radius: 25px;
   transition: .2s;
}
.search-bar button:hover {
   background-color: rgb(230, 230, 230);
}
button img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


/* container (cards) */
#cards-container {
   flex: 1;
   padding: 10px;
   flex-wrap: wrap;
   align-items: flex-start;
   align-content: flex-start;
   justify-content: center;
   overflow: scroll;
   border-radius: 15px;
   background-color: rgba(171, 171, 171, 0.5);
}
#cards-container::-webkit-scrollbar {
   display: none;
}
.cards-box {
   width: var(--cards-box-width);
   height: var(--cards-box-height);
   position: relative;
   align-items: center;
   justify-content: center;
}
.cards {
   display: block;
   width: var(--cards-width);
   height: var(--cards-height);
   cursor: pointer;
   background-color: var(--cards-background-color);
   border-radius: 15px;
   overflow: hidden;
   transition: .3s;
}
.cards:hover {
   background-color: var(--cards-hover-background-color);
}
.cards.checked {
   background-color: var(--cards-checked-background-color) !important;
}
.cards button {
   position: absolute;
   display: block;
   cursor: pointer;
   border-radius: 50%;
   width: var(--cards-button-size);
   height: var(--cards-button-size);
   bottom: 3px;
}
.cards button.delete {
   background-color: var(--cards-delete-button-color);
   right: 4px;
} 
.cards button.delete:hover {
   background-color: var(--cards-delete-button-hover-color);
}
.cards button.edit {
   background-color: var(--cards-edit-button-color);
   right: calc(var(--cards-button-size) + 8px)
}
.cards button.edit:hover {
   background-color: var(--cards-edit-button-hover-color);
}
.cards span {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: .3s;
}
.cards span .title, .cards span .description {
   position: absolute;
   display: block;
   width: 100%;
   padding: 0 10px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.cards span .title {
   text-align: center;
   font-size: var(--cards-title-font-size);
}
.title .highlight {
   display: inline;
   font-style: normal;
   background-color: var(--cards-highlight-color);
}
.cards span .description {
   padding: 0 15px;
   font-size: var(--cards-description-font-size);
}